{% extends 'base.html' %} {% load static %} {%block title%}Command Trailer -
Tyler Stady{% endblock %} {% block content %}

<div class="webappHeader">
  <div class="webappTitle">Command Trailer</div>
</div>

<div class="commandHolder">
  <div class="commandDetails">
    <b>
      Helped create mobile command trailer for the Allegany Fire Department
      Technical Rescue Team.</b
    >
  </div>
  <div class="commandDetails2">
    Operate the command trailer on incidents or trainings with the usage of
    computer / drone / underwater drone / radios / and more.
  </div>
  <div class="commandDetails3">Pictures to be added soon...</div>
</div>
<div class="slideshow-container"></div>

{% endblock %}
